* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  background-color: #fff;
}

.name-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #15225a;
  font-weight: 500;
}

.name-restaurant img {
  width: 2.5rem;
}

.list-menu {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 1.7rem;
  font-size: 1.5rem;
}

.list-menu a {
  color: black;
  text-decoration: none;
}

.list-menu a:hover {
  color: white;
  background-color: rgb(19, 116, 19);
  padding: 0.4rem;
  border-radius: 10px;
  transition: 0.3s;
}

.list-btn img {
  width: 1.9rem;
}

.list-btn button {
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  padding: .7rem;
}

.list-btn button:hover {
  border: 3px solid #15225a;
  transition: 0.1s;
}

#slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 88vh;
}

#img-hamburguer{
  width: 40%;
}

#img-pasta, #img-pizza{
  width: 35%;
}

.slide-content{
  width: 45%;
}

.slide-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.slide-content h1 {
  color: #15225a;
  font-size: 6rem;
}

.slide-content p {
  font-size: 1.3rem;
}

.slide-content button {
  background-color: #15225a;
  color: #fff;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.container-dishes {
  background-color: #e1d9d9;
  padding: 2rem;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.titles {
  text-align: center;
  padding: 2rem;
}

.titles h4 {
  font-size: 1.4rem;
}

.titles h2 {
  font-size: 2rem;
  color: #15225a;
  margin-top: 0.5rem;
}

.dishe {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  padding: 1rem;
  min-height: 24rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.food {
  width: 70%;
  aspect-ratio: 4/3;
}

.dishe p {
  font-size: 1.5rem;
  text-align: center;
  color: #15225a;
  font-weight: 700;
}

.star {
  width: 40%;
  margin-bottom: 1rem;
}

.dishes-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.btn {
  background-color: #15225a;
  color: #fff;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}

.content-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 2rem;
  gap: 2rem;
}

.content-about img {
  width: 50%;
}

.text-about {
  line-height: 1.5rem;
  width: 80%;
}

.text-about h2 {
  color: #15225a;
  font-size: 2rem;
}

.text-about p {
  margin-top: 1rem;
}

.about {
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  width: 25%;
}

.about img {
  width: 20%;
}

.btn-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
}

.menu {
  background-color: #e1d9d9;
}

.reviews {
  margin-bottom: 3rem;
}

.container-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 8rem;
  margin-left: 8rem;
  gap: 2rem;
  padding: 2rem;
}

.option {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 31%;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.img-food {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 4/3;
}

.option .star {
  width: 30%;
  margin-bottom: 0;
}
.option h4 {
  font-size: 1.8rem;
  color: #15225a;
  margin-bottom: 0.5rem;
}

.option p {
  margin-bottom: 0.8rem;
}

.text-options {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.text-options p {
  font-size: 1.5rem;
  font-weight: 500;
}

.container-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
  margin-left: 10rem;
  gap: 2rem;
}

.card {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.person-information {
  margin-top: 1.1rem;
}

.name {
  font-size: 1.2rem;
  color: #15225a;
  font-weight: bold;
}

.rating img {
  width: 70%;
  height: 3rem;
}

.order {
  background-color: #e1d9d9;
}

.container-order {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-order form {
  width: 70%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  width: 49%;
}

.input label {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.input textarea,
.input input {
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
  border-style: none;
}

.input textarea {
  height: 20rem;
  resize: none;
}

form .btn {
  width: 20%;
  height: 3rem;
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 2rem;
  padding: 1rem;
}

.footer-follow {
  display: flex;
  flex-direction: column;
}

.footer-follow a {
  text-decoration: none;
  color: black;
}

footer h3 {
  color: #15225a;
  font-size: 1.5rem;
}

hr {
  width: 80%;
  margin: 0 auto;
}

#text-copy {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {

  header{
    padding: .5rem;
  }
  .name-restaurant{
    font-size: 1.8rem;
  }

  .name-restaurant img{
    width: 1.8rem;
  }

  .top-menu{
    display: none;
  }

  .list-btn img{
    width: 1.5rem;
  }

  .list-btn button{
    padding: .5rem;
  }

  #slide{
    padding: 0;
    flex-direction: column;
    height: 73vh;
  }

  .slide-content{
    width: 100%;
    padding: 1.5rem;
  }

  .slide-content h3 {
    font-size: 1.2rem;
  }
  
  .slide-content h1 {
    font-size: 3.5rem;
  }
  
  .slide-content p {
    font-size: 1.2rem;
  }

  #img-hamburguer{
    width: 80%;
  }

  #img-pizza, #img-pasta{
    width: 60%;
  }

  .dishe {
    width: 100%;
  }

  .food {
    width: 80%;
  }

  .content-about {
    margin-right: 1rem;
    margin-left: 1rem;
    height: 100%;
  }

  #img-about {
    width: 100%;
  }

  .text-about h2 {
    line-height: 2.5rem;
  }

  .btn-about {
    gap: 1rem;
    justify-content: center;
  }

  .about {
    width: 46%;
  }

  .container-options {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0;
    margin-bottom: 2rem;
  }

  .option {
    width: 100%;
  }

  .option:last-of-type {
    margin-bottom: 2rem;
  }

  .container-review {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .card {
    width: 100%;
  }

  .container-order {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .container-order form {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .input label {
    font-size: 1.2rem;
  }

  ::placeholder {
    font-size: 1.1rem;
  }

  form .btn {
    width: 100%;
  }

  footer {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  #text-copy {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {

  header{
    padding: .5rem;
  }
  .name-restaurant{
    font-size: 1.8rem;
  }

  .name-restaurant img{
    width: 1.8rem;
  }

  .top-menu{
    display: none;
  }

  .list-btn img{
    width: 1.5rem;
  }

  .list-btn button{
    padding: .5rem;
  }

  #slide{
    padding: 0;
    flex-direction: column;
    height: 60vh;
  }

  .slide-content{
    width: 85%;
    padding: 1.5rem;
  }

  .slide-content h3 {
    font-size: 1.2rem;
  }
  
  .slide-content h1 {
    font-size: 3.5rem;
  }
  
  .slide-content p {
    font-size: 1.2rem;
  }

  #img-hamburguer{
    width: 50%;
  }

  #img-pizza, #img-pasta{
    width: 35%;
  }

  .container-dishes {
    padding: 0;
  }

  .dishe {
    width: 45%;
  }

  .food {
    width: 70%;
  }

  .dishe:nth-last-child(-n + 2) {
    margin-bottom: 2rem;
  }

  .content-about {
    margin-right: 6rem;
    margin-left: 6rem;
    height: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }

  #img-about {
    width: 70%;
  }

  .btn-about {
    gap: 1rem;
    justify-content: center;
  }

  .about {
    width: 31%;
  }

  .container-options {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0;
    margin-bottom: 2rem;
  }

  .option {
    width: 47%;
  }

  .option:last-of-type {
    margin-bottom: 2rem;
  }

  .container-review {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .card {
    width: 47%;
  }

  .container-order {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .container-order form {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .input label {
    font-size: 1.2rem;
  }

  ::placeholder {
    font-size: 1.1rem;
  }

  form .btn {
    width: 100%;
  }

  footer {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  #text-copy {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1465px) {
  .dishe {
    width: 30%;
    min-height: 15rem;
  }

  .content-about {
    margin-right: 6rem;
    margin-left: 6rem;
    height: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }

  #img-about {
    width: 70%;
  }

  .btn-about {
    gap: 1rem;
    justify-content: center;
  }

  .about {
    width: 31%;
  }

  .container-options {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 2rem;
  }

  .option {
    width: 30%;
  }

  .container-review {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .card {
    width: 30%;
  }

  .container-order {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .container-order form {
    width: 90%;
  }

  .input label {
    font-size: 1.2rem;
  }

  ::placeholder {
    font-size: 1.1rem;
  }

  form .btn {
    width: 30%;
  }

  #text-copy {
    font-size: 1rem;
  }
}
